@use '../../style/scss/' as c;

.container {
   width: 100%;
   h2{
      font-size: 3.5rem;
      color: c.$templateConstrast5;
      margin-bottom: 5rem;
   }
   .controller{
      background-color: c.$template5;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 0.2rem;
      .right{
         
      }
      .left {
         display: flex;
         align-items: center;
         gap: 1rem;
      }
   }

}
