


$templateConstrast5: #000000;
$templateConstrast4: #24263A;
$templateConstrast3: #232323;
$templateConstrast2: #3e4044;
$templateConstrast1: #ffebeb;
$template5: rgb(253, 255, 236);
$template4: rgba(174, 174, 174, 0.709);
$template3: #ffffff;
$template2: #ffffff;
$template1: #566068;
$templateTable: #dcffed;
$templateTextTable: #10001a;