


$template5: #24263a;
$template4: #1d1e2c;
$template3: #232323;
$template2: #3e4044;
$template1: #ffebeb;
$templateConstrast5: #cdffd8;
$templateConstrast4: #cdffa6;
$templateConstrast3: #ffffff;
$templateConstrast2: #ffffff;
$templateConstrast1: #566068;